<div>
    <div class="row flex align-items-center justify-content-center mt-2">
      <button id="internet" kind="primary" class="new-sdss row flex align-items-center justify-content-center mt-2" size="field" (click)="openInternetGateway()">Internet</button>
    </div>
    <div class="row flex align-items-center justify-content-center mt-2">
      <button id="intranet" kind="primary" class="new-sdss row flex align-items-center justify-content-center mt-2" size="field" (click)="openIntranetGateway()">Intranet</button>
    </div>
    <div class="row flex align-items-center justify-content-center mt-2">
      <button id="internacional" kind="primary" class="new-sdss row flex align-items-center justify-content-center mt-2" size="field">Internacional</button>
    </div>
  </div>
  